.slider{
    background-image: url(../bg.jpg);
    /*min-height: 500px;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}
.content{
    background-color: rgba(22,23,25,.6);
    margin: 50px 0;
    padding: 20px 60px;
}
.content h1{
    font-size: 21px;
    color: white;
    margin: 50px 0;
}
.content p{
    font-size: 15px;
    color: white;
    margin: 50px 0;
}
.content button{
    margin-bottom: 100px;
}

.ci.active{
     background-color: #fff;
}
.ci li {
    bottom: 40px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    
   

}
